body {
    background: #EEEEEE;
    max-width: max-content;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    border-left: 1px solid black;
}

th {
    border-left: 1px solid black;
}

.topContent {
    border: 1px solid red;
}

.mainContent {
    border: 1px solid blue;
}

.mainContentLeft {
    border: 1px solid yellow;
    float: left;
}

.mainContentMiddle {
    border: 1px solid orange;
    float: left;
}

.mainContentRight {
    border: 1px solid green;
    float: left;
}

.bottomContent {
    border: 1px solid violet;
}