body {
    background: #EEEEEE;
    max-width: 75%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    border-left: 1px solid black;
}

th {
    border-left: 1px solid black;
}

.topContent {
    border: 1px solid red;
    min-height: 15vh;
    max-height: 15vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#mainLogo {
    border: 1px solid blue;
    width: 50%;
    height: auto;
    display: block;
}

#mainLogoAnchor {
    display: block;
    width:100%;
}

#logo {
    object-fit: fill;
    height: auto;
    display: block;
}

.mainContent {
    border: 1px solid blue;
}

.mainContentLeft {
    border: 1px solid yellow;
    max-width: 20%;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
}

.mainContentMiddle {
    border: 1px solid orange;
    background-image: url("images/middleBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 40%;
    max-width: 40%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    text-wrap: wrap;
    float: left;
}

.mainContentRight {
    border: 1px solid green;
    background-image: url("images/rightBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 40%;
    max-width: 40%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    text-wrap: wrap;
    margin-right: 0%;
    float: left;
}

.bottomContent {
    border: 1px solid violet;
    float: left;
    min-height: 5vh;
    max-height: 5vh;
    min-width: 100%;
    max-width: 100%;
}