body {
    background: #EEEEEE;
    max-width: 75%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

td {
    border-left: 1px solid black;
}

th {
    border-left: 1px solid black;
}

.skillTextOne {
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 3%;
}

.skillTextTwo {
    color: white;
    font-size: large;
    font-weight: bold;
    float: right;
    margin-right: 3%;
}

.topContent {
    /* border: 1px solid red; */
    min-height: 15vh;
    max-height: 15vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

#mainLogo {
    /* border: 1px solid blue; */
    width: 50%;
    height: auto;
    display: block;
}

#mainLogoAnchor {
    display: block;
    width:100%;
}

#logo {
    object-fit: fill;
    height: auto;
    display: block;
}

.mainContent {
    border: 1px solid blue;
}

.whiteText {
    color: white;
    font-size: large;
    margin-left: 3%;
}

.skillListLink {
    /* border: 1px solid orange; */
    width: 100%;
}
.skillListLink:hover {
    background-color: dimgrey;
}

.mainContentLeft {
    /* border: 1px solid yellow; */
    background-color: black;
    min-width: 8%;
    max-width: 8%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
}

.mainContentMiddle {
    /* border: 1px solid orange; */
    background-image: url("images/middleBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 46%;
    max-width: 46%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    text-wrap: wrap;
    float: left;
}

.mainContentMiddle a {
    color: yellow;
    text-decoration: none;
}

.mainContentRight {
    /* border: 10px solid transparent;
    border-image: url(images/SkillBorder.png) 30 round; */
    background-image: url("images/rightBG.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 46%;
    max-width: 46%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    text-wrap: wrap;
    margin-right: 0%;
    float: left;
}

.bottomContent {
    /* border: 1px solid violet; */
    float: left;
    min-height: 5vh;
    max-height: 5vh;
    min-width: 100%;
    max-width: 100%;
}

.skillRight {
    float: right;
    margin-right: 5%;
}
